body{
    background-color: rgb(51, 185, 178);
}
.div{
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 48%;
    top: 350px;
    border-radius: 50%;
    animation: linear 4s circle infinite;
    animation-fill-mode: backwards;

}
@-webkit-keyframes circle{
    0%{border-radius: 0;
    transform: rotate(180deg);}
    10%{
        border-radius:0;
        transform:rotate(45deg);
        transform: scale(1.5);
    }
}