#redDragon{

    color: black;
    text-align: center;
    font-size: larger;
    margin-left: 500px;
    margin-right: 100px;
    margin-top: 25px;
    border-style: dashed;

}
.introductiOn{
   margin-left:500px;
}